doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill A3 - Moment
    link(rel='stylesheet', href='./css/d-a3.css')
  body
    h1 Drill A3 - Moment


    input#date(type='date')
    button#fromnow From Now in Days
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/d-a3.js')
