doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill A5 - Movies
    link(rel='stylesheet', href='./css/d-a5.css')
  body
    h1 Drill A5 - Movies

    button#magic Get Box Office
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/d-a5.js')
