doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill A6 - Critics Love
    link(rel='stylesheet', href='./css/d-a6.css')
  body
    h1 Drill A6 - Critics Love

    input#number(text='text' placeholder='Number of Movies')
    input#score(text='text' placeholder='Minimal Score')
    button#magic Get
    #output

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/d-a6.js')
