doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill A7 - Critics vs Audience
    link(rel='stylesheet', href='./css/d-a7.css')
  body
    h1 Drill A7 - Critics vs Audience

    input#number(text='text' placeholder='Number of Movies')
    button#magic Get
    #graph


    script(src='http://www.amcharts.com/lib/3/amcharts.js')
    script(src='http://www.amcharts.com/lib/3/serial.js')
    script(src='http://www.amcharts.com/lib/3/themes/dark.js')
    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src='./js/es6/d-a7.js')
